body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
    height: 780px;

    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    /*flex-direction: row-reverse; */
    flex-direction: row;
    align-items: center;
}

.container-form {
    width: 50%;
    height: 100%;
    background-color: var(--color-surface);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    box-shadow: 4px 4px 8px #bdb59e86;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-video {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

video {
    width: 100%;
    height: auto;
}