:root {
    /* Claro */
    --color-bg: #F8F5F1;
    --color-surface: #E6E3DB;
    --color-primary: #181E27;
    --color-secondary: #404B57;
    --color-accent: #9A684E;
    --color-text: #111111;
    --color-muted: #8A8A8A;
    --color-border: #B5AD9B;

    /* Contraste  */
    --color-bg-d: #D4C3AA;
    --color-surface-d: #BDB59E;
    --color-primary-d: #06080A;
    --color-secondary-d: #15191D;
    --color-accent-d: #3A271D;

    /* Otros */
    --border-radius: 0.75rem;
    --font-family: 'Fira Code', monospace;
    --transition: 0.2s ease-in-out;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    color: var(--color-text);
}

button {
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color var(--transition);
}