:root {
    /* Claro */
    --color-bg: #F8F5F1;
    --color-surface: #E6E3DB;
    --color-primary: #181E27;
    --color-secondary: #404B57;
    --color-accent: #9A684E;
    --color-text: #111111;
    --color-muted: #8A8A8A;
    --color-border: #B5AD9B;
    --color-correct: #1a7932;
    --color-incorrect: #6b1212;
    --color-warning: #8d7d1f;

    /* Contraste  */
    --color-bg-d: #e7e1d8;
    --color-surface-d: #BDB59E;
    --color-primary-d: #06080A;
    --color-primary-l: #5d81b3;
    --color-secondary-d: #15191D;
    --color-accent-d: #3A271D;
    --color-correct-d: #005716;
    --color-incorrect-d: #3a0000;
    --color-warning-d: #695602;

    /* Otros */
    --border-radius: 0.75rem;
    --border: 1px solid var(--color-border);
    --font-family: 'Fira Code', monospace;
    --transition: 0.2s ease-in-out;
    --shadow: 4px 4px 8px #bdb59e86;
    --blur-bg: rgba(245, 240, 230, 0.4);
}

body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    color: var(--color-text);
}

button {
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    transition: background-color var(--transition);
}

.disabled {
    width: 250px;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-surface);
}

.disabled:hover {
    background-color: var(--color-secondary);
    color: var(--color-surface);
}

.active {
    width: 250px;
    height: 50px;
    background-color: var(--color-surface);
    color: var(--color-text);
    border: 2px solid var(--color-border);
    cursor: pointer;
}

.active:hover {
    background-color: var(--color-surface-d);
    color: var(--color-text);
    border: none;
}

.logout-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--color-accent);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.logout-button:hover {
    background-color: var(--color-accent-d);
    transform: scale(1.05);
}